<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  {{!-- <h1>RUTA ES: {{ path }}</h1> --}}

  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="/admon">
          <span data-feather="home"></span>
          Dashboard
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        {{#compare path "==" "users"}}
        <a class="nav-link menu-item-selected" href="/admon/users">
          {{else}}
          <a class="nav-link" href="/admon/users">
          {{/compare}}
          <span data-feather="user"></span>
          Admon. usuarios
        </a>
        <ul class="nav flex-column">
          <li class="nav-item">
            {{#compare path "==" "add-user"}}
            <a class="nav-link menu-item-selected" href="/admon/add-user">
              {{else}}
              <a class="nav-link" href="/admon/add-user">
                {{/compare}}
                <span data-feather="plus-circle"></span>
                Añadir usuario
              </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        {{#compare path "==" "devices"}}
        <a class="nav-link menu-item-selected" href="/admon/devices">
          {{else}}
          <a class="nav-link" href="/admon/devices">
          {{/compare}}
          <span data-feather="codepen"></span>
          Admon. dispositivos
        </a>
        <ul class="nav flex-column">
          <li class="nav-item">
            {{#compare path "==" "add-device"}}
            <a class="nav-link menu-item-selected" href="/admon/add-device">
              {{else}}
              <a class="nav-link" href="/admon/add-device">
              {{/compare}}
              <span data-feather="plus-circle"></span>
              Añadir dispositivo
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        {{#compare path "==" "stats"}}
            <a class="nav-link menu-item-selected" href="/admon/stats">
              {{else}}
              <a class="nav-link" href="/admon/stats">
              {{/compare}}        
          <span data-feather="bar-chart-2"></span>
          Estadísticas

        </a>
      </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Reportes guardados</span>
      <a class="d-flex align-items-center text-muted" href="#">
        <span data-feather="plus-circle"></span>
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <!-- repo 1 -->
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          Current month
        </a>
      </li>

    </ul>
  </div>
</nav>