<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1>{{title}}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a class="btn btn-sm btn-outline-primary" href="/admon/add-user" role="button"> Añadir un nuevo usuario</a>
            </div>

        </div>
    </div>

    <div id="contData">
        <div id="contResult">
            <div class="row">
                <div class="col">Resultado de la operación: </div>
                <div id="btn-up-down" class="col text-right">
                    <span data-feather="arrow-down-circle"></span>
                    <span data-feather="arrow-up-circle"></span>
                </div>
            </div>
            <div id="contResultText" class="row"></div>
        </div>

        <table id="tbDevices" class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Email</th>
                    <th scope="col">F. Alta</th>
                    <th scope="col">F. Acceso</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    <th scope="row">
                        <input disabled="disabled" type="text" name="row" id="row_{{@index}}" value="{{_id}}" style="display:none">{{@index}}
                    </th>
                    <td data-field="user_name">{{user_name}}</td>
                    <td data-field="user_surname">{{user_surname}}</td>
                    <td data-field="user_email">{{user_email}}</td>
                    <td>{{dateRegister}}</td>
                    <td>{{lastLogin}}</td>
                    <td>
                        <button id="btn_delete_{{@index}}" type="button" class="btn btn-danger btn-sm btnDelete">
                            <span data-feather="trash"></span>
                            <span>Borrar</span>
                        </button>
                        <button id="btn_edit_{{@index}}" type="button" class="btn btn-primary btn-sm btnEdit"> <span data-feather="edit"></span>
                            <span>Editar</span>
                        </button>

                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</main>